extends layout

block content
        h2.page-header WorkShop 2
        p Space just for testing
        if errors
            each error, i in errors
                div.alert.alert-danger #{error.msg}
        .row
            .col-md-6
                .page-header
                h1
                    | Send
                    small  Add information in order to send
                .col-md-8.col-md-offset-2
                    form(method='post', action='/users/workshop1Send')
                        .form-group
                            lable Text
                            input.form-control(name='text', type='text', placeholder='Enter plain text')
                        .form-group
                            lable MD4
                            input.form-control(name='md4', type='text', value='#{md4}')
                        .form-group
                            lable Private Key
                            textarea#comment.form-control(rows='7') #{keyPrivate}
                        .form-group
                            lable Public Key
                            textarea#comment.form-control(rows='5') #{keyPublic}
                        input.btn.btn-primary(type='submit', name='submit', value='workshop1')
            .col-md-6
                .page-header
                h1
                    | Recived
                    small  Decrypt your message
                .col-md-8.col-md-offset-2
                    form(method='post', action='/users/workshop1Rec')
                        .form-group
                            lable Text
                            input.form-control(name='textDec', type='text', value='#{textD}')
                        .form-group
                            lable MD4
                            input.form-control(name='md4Dec', type='text', value='#{md4D}')
                        .form-group
                            lable Private Key
                            textarea#comment.form-control(rows='7') #{keyPrivateString}
                        .form-group
                            lable Public Key
                            textarea#comment.form-control(rows='5') #{keyPublicString}
                        input.btn.btn-primary(type='submit', name='submit', value='workshop2')
        